body {
	font-family: Arial;
	font-size: small;
	background-color : #00486C;
}

.bloc_page { 
	margin: 100 ;
	width: 900px;
	background-color: white;
}


.menu {
	background-color: white ;
	float:left;
	width: 23%;
}


.sous-menu ul
{
    list-style-type: none ;
	padding: 0;
	margin-left: 5%;
	margin-right: 10%;
}

........... li
{
    background: url('.......... ') no-repeat;
  	background-position: 0 0.2em;
	background-color: #EFF0FF;
	padding-left: 1.4em;
	padding-bottom: 1%;
	padding-top: 1%;
	margin-bottom: 1%;
}


...........  a
{
    text-decoration: .......... ;
	color: #00486C;
}


.contenu {	
	background-color: white ;
	width: 77%;
	float: right ;
}


h1 {
	background-color : #92B938;
	color: white ;
	font-size: medium;
    padding-left: 2%;
	margin-right: 10%;
}

h2 {
	background-color :  #00486C;
	color: white ;
	font-size: medium;
    padding-left: 5%;
	margin-left: 5%;
	margin-right: 10%;
}

.labelchamp {
	border-left : 3px solid #92B938;
	border-bottom : 1px solid #92B938;
	color: #00486C;
	font-weight: bold;
    padding-left: 1%;
	margin-right: 10%;
}


